* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-width: 375px;
    max-width: 1440px;
    min-height: 900px;
    margin: 0 auto;
}

.header__section {
    margin-bottom: 70px;
}


.header {
    width: 100%;
    min-height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
    display: flex;
    align-items: center;
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

.header__logo {
    margin-right: 61px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.search__block {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 60px;
    min-height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EBEBF1;
}

.search__block_inner_container {
    display: flex;
    align-items: center;
}

input, input:focus {
    border: none;
    outline: none;
    color: #BBC4D6;
    font-size: 14px;
    line-height: 16.4px;
    letter-spacing: 0.01em
}

.search__block_button {
    background-color: transparent;
    border: none;
    margin: 8px 10px;
}

.header__border {
    min-width: 1px;
    height: 80px;
    right: 148px;
    top: calc(50% - 80px/2);
    background: #EBEBF1;
    margin-right: 19px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile__name {
    margin-right: 10px;
}

.profile__name span {
    color: #768298;
    font-weight: 400px;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.01em;
}

.partners__title {
    margin: 0 100px;
    margin-bottom: 35px;
}

.partners__title p {
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    color: #121920;
    text-transform: uppercase;
}

.partners__list {
    list-style: none;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 100px;
    flex-wrap: wrap;
    gap: 25px;
}

.partners__link {
    display: flex;
    flex: 0 0 23%;
}

.partners__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    transition: all .3s;
    height: 120px;
}

.partners__item:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    transition: all .3s;
}

.partners__img {
    width: 40%;
}

.header__mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__mobile_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px 15px 20px;
}

.header__mobile_border {
    background-color: #BBC4D6;
    opacity: .5;
    height: 1px;
    width: 100%;
}

.search__mobile_block {
    width: 100%;
    border-radius: 6px;
}

.search__mobile_block_inner_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px auto 8px 20px;
}

.search__mobile_block_button {
    background-color: transparent;
    border: none;
    margin: 4px 9px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*  Media queries */

@media (min-width:1441px) {

    .header__mobile {
        display: none;
    }

    .partners__list {
        gap: 30px;
    }
}

@media (min-width:610px) {
    .header__mobile {
        display: none;
    }
}

@media (max-width:1280px) {

    .header__container {
        max-width: calc(100% - 40px);
    }

    .partners__title {
        margin: 0px 20px 30px 20px;
    }

    .partners__list{
        margin: 0 20px;
    }

    .partners__list {
        gap: 20px;
    }

    .partners__link {
        flex: 0 0 31%;
    }
}

@media (max-width:768px) {
    .header__logo, .search__block {
        margin-right: 50px;
    }

    .partners__title p {
        font-size: 28px;
        line-height: 43px;
    }

    .partners__link {
        flex: 0 0 31.3%;
    }
}

@media (max-width:760px) {
    .partners__link {
        flex: 0 0 45%;
    }
}

@media (max-width:610px) {
    .header__section {
        display: none;
    }
}

@media (max-width:480px) {

    .partners__list {
        flex-direction: column;
    }
}

@media (max-width:376px) {

    .partners__title p {
        line-height: 160%;
    }

    .partner__list {
        margin-bottom: 70px;
    }

    .partners__item {
        height: 140px;
    }
}






